<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oval Ski Club | Home</title><!-- page title-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/mystyles.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../assets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

      
    <div class="container">

      <!-- Main hero unit -->
      <div class="hero-unit">

        <h1>Oval Ski Club!</h1>
        <h2>About Us!</h2>
        <br>
        <br>    <!--spacing for hero unit-->
        <br>

    </div>

      <div class="row">
      <div class = "span one">

      <h2>Our Team</h2>
      <p> Oval Ski Club is based on the Wirral side of Merseyside. We have a dedicated team of several qualified instructors who all volunteer there help because of there love for the sport aswell as this we have a dedicated committee. We are always on the look out for more volunteers to continue to make this club a success. If you wish to contact us for more information please see our <a href="contactus" title="Contact Us Page">Contact Us </a>page. Information on our comittee and our instructing teams can be found below.</p>
    </div>
  </div>

      <!-- Table 1 -->
      <div class="container"><!--start of container-->
      <div class="row">
        <div class="span7">
        <table class="table" title="Committee Members Table">
          <h2>The Committee</h2>        
          <tr>
          <th>First Name</th>
          <th> Surname</th>
          <th>Position</th>
        </tr>

        <tbody>
          <tr>
            <td>John</td>
            <td>Croft</td>
            <td>President</td>
          </tr>

          <tr>
            <td>John</td>
            <td>Wahlers</td>
            <td>Chairman</td>
          </tr>

          <tr>
            <td>Andrew</td>
            <td>Kearney</td>
            <td>Vice Chairman</td>
          </tr>

          <tr>
            <td>Lorna</td>
            <td>McCarthy</td>
            <td>Secretary</td>
          </tr>

          <tr>
            <td>Mark</td>
            <td>Croft</td>
            <td>Treasurer</td>
          </tr>

          <tr>
            <td>Tony</td>
            <td>McClave</td>
            <td>Race Secretary</td>
          </tr>

          <tr>
            <td>Jane</td>
            <td>Croft</td>
            <td>Social Secretary</td>
          </tr>

          <tr>
            <td>Nick</td>
            <td>Spearpoint</td>
            <td>Training Officer</td>
          </tr>

          <tr>
            <td>TBC</td>
            <td>TBC</td>
            <td>Junior Rep</td>
          </tr>

          <tr>
            <td>Mel</td>
            <td>Wahlers</td>
            <td>Child Protection Officer</td>
          </tr>

          <tr>
            <td>Jenny</td>
            <td>Montague</td>
            <td>Committe Member</td>
          </tr>

          <tr>
            <td>Robert (Bob)</td>
            <td>Coull</td>
            <td>Committe Member</td>
          </tr>

          <tr>
            <td>Nissa</td>
            <td>Coull</td>
            <td>Committe Member</td>
          </tr>

          <tr>
            <td>Phillippa</td>
            <td>Coull</td>
            <td>Committe Member</td>
          </tr>

          <tr>
            <td>Ken</td>
            <td>Needham</td>
            <td>Committe Member</td>
          </tr>

          </tbody>
        </table>
      </div>
          <!--end of table 1-->
        
          <!-- Table 2-->
  
          <div class="span5">
          <table class="table" title="Instructors Table">
          
          <h2>The Instructors</h2>
          <tr>
          <th>First Name</th>
          <th>Surname</th>  
          </tr>

          <tbody>
          <tr>
          <td>Philippa</td>
          <td>Watss</td>
          </tr>

          <tr>
          <td>Andrew</td>
          <td>Kearney</td>
          </tr>   

          <tr>
          <td>Andrew</td>
          <td>Dawson</td>
          </tr>  

          <tr>
          <td>Dave</td>
          <td>Sejrup</td>
          </tr>   

          <tr>
          <td>John</td>
          <td>Rogers</td>
          </tr>   

          <tr>
          <td>John</td>
          <td>Wahlers</td>
          </tr>  

          <tr>
          <td>Mel</td>
          <td>Wahlers</td>
          </tr>    

          <tr>
          <td>Bob</td>
          <td>Coull</td>
          </tr>   

          <tr>
          <td>Nissa</td>
          <td>Coull</td>
          </tr>  

          <tr>
          <td>Tony</td>
          <td>McClave</td>
          </tr>  

          <tr>
          <td>Nick</td>
          <td>Spearpoint</td>
          </tr>   

          <tr>
          <td>Barry</td>
          <td>Forrester</td>
          </tr> 

        </tbody>
      </table> <!--End of Table 2-->
    </div>
  </div> <!--end of container-->
        



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>-->

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script type/javascript src="assets/js/bootstrap.min.js"></script>
    <script language ="javascript">
    $(function(){
      $('.dropdown-toggle').dropdown();
    $('.dropdown input, .dropdown label').click(function (e) {
        e.stopPropagation();
      });
  });

</script>

  </body>
</html>
