<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oval Ski Club | Home</title><!-- page title-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/mystyles.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../assets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>


      <div class="container">

      <!-- Main hero unit -->
      <div class="hero-unit">
        <h1>Welcome to Oval Ski Club!</h1>
        <p>Oval Ski Club is a dry ski slope based at Oval Sports Center in Bebington, Merseyside. For more information please take a look through our website!</p>
        <p><a class="btn btn-primary btn-large" href="../welcome/aboutus" title="About Us"> About Us! &raquo;</a></p>
      </div>

      <!-- Rows of text -->
      <div class="row">
        <div class="span4">
          <h2>Lessons</h2>
          <p>Oval Ski Club closes its doors during the summer months. During this time the slope is maintained ready for the winter season. More information on when we are open and our skiing lessons can be found by following the link below. </p>
          <p><a class="btn" href="../diaries  "title ="More Details">More Details &raquo;</a></p><!--button links to lessons page-->
        </div>

        <div class="span4">
          <h2>Racing Team</h2>
          <p> Oval Ski Club takes part in races throughout the year at stoke, Sheffield and Pendle. Anyone who is a member at Oval Ski Club can take part in these races. Interested see our Racing Team page for more details. </p>
          <p><a class="btn" href="../welcome/racingteam" title ="More Details">More Details &raquo;</a></p><!--button links to racing team page-->
       </div>

        <div class="span4">
          <h2>Holidays</h2>
          <p>Oval Ski Club organises a skiing holiday each year during the easter break to one of many popular resorts in Europe. For more information regarding our skiing holidays please follow the link below. </p>
          <p><a class="btn" href="../welcome/social"title ="More Details">More Details &raquo;</a></p><!--button link to social events page-->
        </div>
      </div><!--end of container-->

      <div class = "pagination-centered">
        <h3>Latest Skiing News</h3>
        <br>
      </div>
        <!-- Feedzilla Widget BEGIN -->
     
    <center>
      <div class="feedzilla-news-widget feedzilla-3695755379740149" style="width:250px; padding: 0; text-align: center; font-size: 11px; border: 0;">
      <script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
      <script type="text/javascript">
        new FEEDZILLA.Widget({
          style: 'slide-top-to-bottom',
          culture_code: 'en_us',
          c: '27',
          sc: '1505',
          headerTextColor: '#0a090a',
          headerBackgroundColor: '#f7f4ef',
          contentLinkColor: '#32479c',
          footerBackgroundColor: '#ffffff',
          title: 'Sports',
          caption: 'Winter Sports - Skiing',
          order: 'relevance',
          count: '20',
          w: '250',
          h: '300',
          timestamp: 'true',
          scrollbar: 'false',
          theme: 'ui-lightness',
          className: 'feedzilla-3695755379740149'
        });
        </script><br />
        </div>
      </center>
      

      <!-- Feedzilla Widget END -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>-->

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script type/javascript src="assets/js/bootstrap.min.js"></script>
    <script language ="javascript">
    $(function(){
      $('.dropdown-toggle').dropdown();
    $('.dropdown input, .dropdown label').click(function (e) {
        e.stopPropagation();
      });
  });

</script>

  </body>
</html>


