<div class="container">

      <!-- Main hero unit -->
      <div class="hero-unit">
        <h1>Oval Ski Club!</h1>
        <h2>Want to Learn to Ski?</h2>
        <br>
        <br>
        <br>
      </div>
      <!-- end of main hero uni -->

      <div class="container"><!--start of container-->
       <div class="row">
       <div class="span16" style="border-top: 5px solid #205090;">
        <br>
        <br>
        <h2>Dates for the diary</h2>
        <br>
        <p>For any dates for the your diary please see below. If you wish to add any important dates then please sign in with Facebook in the top right hand corner of the website.</p>
        <br>
        <br>
        <center>
        <p><a class="btn btn-primary btn-large" href="diaries" title="View Gallery"> Diary! &raquo;</a></p>
      </center>

       </div>
     </div>
   </div>


       <div class="container"><!--start of container-->
       <div class="row">
       <div class="span16" style="border-top: 5px solid #205090;">
       <h2>Lessons</h2>
       <p>Oval Ski club holds lessons for juniors and adults, our lessons cover the full spetrum of ability.</p>
       <p>Everyone is welcome to join the club from first timers to full seasoned pros. If you are joining as a beginner then see the start dates of our beginner lessons in our diary to the right of the page</p>
       <br>
       <p>We are a members only club and everyone must join us prior to skiing. This will only take a few minutes and can be done on your first visit. The money we raise through our memberships are used for your benefit for equipment or instructor training for example. As a member you will recieve exclusive discounts from various local sports shops. Prices for member ships can be found below.</p>
       <br>
       <h3>Annual Mambership Fee</h3>
       <p>Joining us is simple, it can be by going down to the ski hut during the session hours and speaking to of the committe members or helpers. Membership requires renewal at the start of each sessions in September. The Prices are as follows:</p>
       <ul>
        <li>Junior Membership: £7.00</li>
        <li>Senior Membership: £15.00</li>
        <li>Family Membership: £30.00</li>
      </ul>
      <br>
      <h3>Junior Club<small><br>5+ to under 18's</small></h3>
      <p>Junior club is held on Saturday mornings fro 10AM to 1PM. The lessons cost £5.00 per person per session and £2.00 if you use yours own equipment. The ages groups are split into two differnt times. Please see below for more details.</p>
      <ul>
        <li>10AM - 11AM 5+ to under 11's</li>
        <li>11.30AM - 1PM 11+</li>
      </ul>
      <br>

      <h3>Adult Club</h3>
      <p>Adult club is run on Sunday evenings from 5PM to 8PM. On occasions we run family sessions so adults and kids can ski together. During these sessions everyone involved must be able to turn and stop safely. The times and dates for these will be advertised in the ski hut on the notice board. The lessons cost £5.00 per person per sessions and £2.00 if you use your own equipment. The times for these can be seen below.</p>
      <ul>
        <li>5 - 6PM Beginners lessons</li>
        <li>6 - 7PM Open skiing sessions</li>
        <li>7 - 8PM Improvement/Advanced lessons. This is for people who can snowplough turn.</li><br>
      </ul>
    </div>




    <div class="row">
      <div class="pagination-centered" style="border-top: 5px solid #205090;">
        <h2>Sneak Preview</h2>
        <p>Here is a sneak preview of what we do</p><!--YouTube video-->
        <iframe width="560" height="315" src="http://www.youtube.com/embed/yOveLBduJKk?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="script.js"></script>