<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Racing Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/mystyles.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

        div.htmltooltip{
      position: absolute; /*leave this and next 3 values alone*/
      z-index: 1000;
      left: -1000px;
      top: -1000px;
      background: #272727;
      border: 10px solid black;
      color: white;
      padding: 3px;
      width: 250px; /*width of tooltip*/
      }

    </style>
    <link href="../assets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>


    <div class="container"><!--hero unit container-->

      <!-- hero unit -->
      <div class="hero-unit">
        <h1>Oval Ski Club!</h1>
        <h2>The Racing Team!</h2>
        <br>
        <br>
        <br>
      </div>

      <!-- row of columns -->
      <div class="container"><!--Start of container-->
      <div class="row">
        <div class="span8">
          <h2>Oval racing team.</h2>
          <p>Our racing team is run by our race secretary Tony McClave. Tony ensures that all the winter and summer races are possible. Tony can be found at the club if more information is needed on our racing team.</pr>
          <br><!--spaces between paragraphs-->
          <br>
          <h3>Interested?</h3>
          <p>Anyone who is a member at the ski club can participate in the racing events and it is a great way to improve your skiing skills. More information on the races we enter can be found below. If you are interested in racing please see Tony or any member of the team who will provide you with the relevant information. Good Luck!</p>
        </div>

        <br>
        <br>
        <div class="span4">
          <img src="../assets/skirace.jpg" alt height="500px" width="500px" title="Anna Skiing in a race"> <!--image of skier-->
       </div>
    </div><!-- end of container-->

        <h3>Races we enter</h3>
        <p>We race across the country in national leagues at various ski slopes.We have team races at Stokes during the summer the months.
        During the winter months we enter races at both Sheffield and Pendle. More details about these races can be found below.</p>

        <h2>Frostbite 7 - Sheffield</h3>
        <h4>Fun racing in a friendly enviroment</h4>
        <p>Frostbite 7 is run by the Sharks Ski Club in Sheffield. All level of skiers are welcome to take part in races here. The dates of the races can be found below:</p>
        <ul>
          <li>Saturday 15th October 2011</li>
          <li>Saturday 12th November 2011</li>
          <li>Saturday 10th December 2011</li>
          <li>Saturday 14th January 2012</li>
          <li>Saturday 17th March 2012</li>
        </ul>
        <p>The Prices are £12 per race or £15 if the entry is received on the Friday before the race day.</p>
        <br>
        <p>Online entry is available for the races this year and this is the preferred method so please ensure that it is done this way. It is possible to sign up for one race at a time or all 5 races in one go. Payment can be done via paypal or credit/debit card. The races can be signed up for by selecting the link below:</p>
        <br>
        <a href="http://form.jotform.com/form/12565537275" title="Online Enrty Form">Online Entry Form</a><!-- link to online entry form-->
        <br>
        <a href="http://www.sharks.org.uk/frostbite.pdf" title="Rules and Terms and conditions" rel="htmltooltip">Rules and Terms and conditions</a><!-- link to rules terms and conditions-->
        <div class="htmltooltip">Find the rules and terms and conditions of our races here.</div>
        <br>

        <h2>Pendle winter race league</h2>
        <h4>Its that time of year again!</h4>
        <p>We are again inviting entries to the Pendle winter race league held on the 1st Saturday of October, November, December, February and March. As always all club members are welcome to compete.</p>
        <br>
        <p>The dates are as follows:</p>
        <ul>
          <li>Saturday October 1st 2011</li>
          <li>Saturday November 5th 2011</li>
          <li>Saturday December 3rd 2011</li>
          <li>Saturday March 3rd 2012</li>
        </ul>
        <br>

        <p>Please read the race details below, if you are interested in racing then this race can be entered by emailing:</p>
        <address>
          <a href="mailto:pendleskiraces@live.co.uk" title="Email: pendleskiraces@live.co.uk" rel="htmltooltip">pendleskiraces@live.co.uk</a><!--email address link-->
          <div class="htmltooltip">Send us an email for more information</div>
        </address>


        <h4>Race Details</h4>
        <h6>Cost</h6>
        <ul>
          <li>It is £8 per race and £3 for skis and/or boot hire.</li>
          <p class="text-error">IMPORTANT: The skis and boots we hire are not racing skis</p>
        </ul>
        
        <br>

        <h6>Teams</h6>
        <ul>
        <li>Teams of 3 or 4. All must be able to ski from top of ski slope and get around gates. The race is designed as an introduction for racers</li>
        <li>Teams can be all girls, all boys or mixed</li>
        <li>Each team needs a team captain who will wear the bib for their team and be responsible for getting their team to the start ready for each race.</li>
        <li>A club can have as many race teams as they want</li>
        <li>Each Team will have 6 races against the other teams in their age category</li>
       </ul>
        <br>

        <h6>Age Categories</h6>
        <ul>
          <li>Under 10</li>
          <li>Under 13</li>
          <li>Under19</li>
          <li>Under 99(Any Age)</li>
          <p class="text-info">It may be possible to ski up and age category but not down<p>
        </ul>
          <br>

        <h6>Times</h6>
      <ul>
        <li>The race office will open at 8AM. All team bibs and rented kit must be collected you have paid.</li>
        <li>There is an open practice from 8.15 to 9.10AM. Racing will begin at 9.20 and will be finished by 12 noon</li>
        <li class ="text warning">IMPORANT. Entries must be in by midnight the Thursday before the race day. If a team pulls out the planned race will still go ahead with the remaining teams</li>
        <li>The best part yet, the BBQ will be running as usual and the snack bar will be open for snacks and drinks</li>
      </ul>
      <br>

        <h6>Results</h6>
        <ul>
        <li>4 points will be awarded for a win</li>
        <li>2 points for completing the course successfully.</li>
        <li>Medals will be awarded to the first 3 teams in each race category on each race day. The best four results will count towards the perpetual shields awarded in March</li>
      </ul>
      <br>

        
    </div><!--end of container-->
    


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>-->

        <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script type/javascript src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/jquery-1.2.2.pack.js"></script>
<script type="text/javascript" src="../assets/htmltooltip.js"></script>
    <script language ="javascript">
    $(function(){
      $('.dropdown-toggle').dropdown();
    $('.dropdown input, .dropdown label').click(function (e) {
        e.stopPropagation();
      });
  });

</script>

  </body>
</html>

